div#canvas-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

div#main-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: cornflowerblue;
}